<div class="group row-layout">
  <div class="group_1 row-layout">
    <img src="/assets/129874-01_ashers-jumbo-marshmallow-chocolates-with-pecans-3lb-box.jpg" class="image" />
    <img src="/assets/Ashers-Chocolate-Co-log_web.jpg" class="image_1" />
    <div class="group_2 column-layout">
      <p class="text">
        EASTER FAVORITES

Give us a call to place your orders today!

1.800.223.4200
      </p>
      <a target="_blank" routerLink="/login" class="igx-typography__body-1 hyperlink">
        Login to Customer Portal...
      </a>
    </div>
  </div>
  <img src="/assets/125453-01_ashers-milk-chocolate-cherry-cordials-candy-6lb-box.jpg" class="image_2" />
</div>
<div class="group_3 column-layout">
  <igx-list class="list">
    <igx-list-item [isHeader]="false" class="list-item">
      <span igxListThumbnail>
        <igx-avatar src="/assets/product1.jpg" size="large" [roundShape]="true"></igx-avatar>
      </span>
      <span igxListLineTitle>Regular Chocolates</span>
      <span igxListLineSubTitle>Delicious assortment of Milk, Dark and White Chocolate assortments</span>
      <span igxListLine>
        <div class="group_4 row-layout">
          <igx-icon class="icon">
            local_printshop
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Catalog PDF
          </p>
          <igx-icon class="icon">
            list_alt
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (xls)
          </p>
          <igx-icon class="icon">
            list
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (pdf)
          </p>
        </div>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false" class="list-item">
      <span igxListThumbnail>
        <igx-avatar src="/assets/servlet.jpg" size="large" [roundShape]="true"></igx-avatar>
      </span>
      <span igxListLineTitle>Fall &amp; Christmas</span>
      <span igxListLineSubTitle>A large line of holiday and winter items</span>
      <span igxListLine>
        <div class="group_5 row-layout">
          <igx-icon class="icon">
            local_printshop
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Catalog PDF
          </p>
          <igx-icon class="icon">
            list_alt
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (xls)
          </p>
          <igx-icon class="icon">
            list
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (pdf)
          </p>
        </div>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false" class="list-item">
      <span igxListThumbnail>
        <igx-avatar src="/assets/product2.jpg" size="large" [roundShape]="true"></igx-avatar>
      </span>
      <span igxListLineTitle>Packaged Items</span>
      <span igxListLineSubTitle>Pre-packaged, pick-up and gift-giving packages to complement your retail environment</span>
      <span igxListLine>
        <div class="group_5 row-layout">
          <igx-icon class="icon">
            local_printshop
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Catalog PDF
          </p>
          <igx-icon class="icon">
            list_alt
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (xls)
          </p>
          <igx-icon class="icon">
            list
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (pdf)
          </p>
        </div>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false" class="list-item">
      <span igxListThumbnail>
        <igx-avatar src="/assets/easter.jpg" size="large" [roundShape]="true"></igx-avatar>
      </span>
      <span igxListLineTitle>Easter</span>
      <span igxListLineSubTitle>A colorful and vibrant line of packages and specialty items perfect for this special holiday and the entire Spring season</span>
      <span igxListLine>
        <div class="group_5 row-layout">
          <igx-icon class="icon">
            local_printshop
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Catalog PDF
          </p>
          <igx-icon class="icon">
            list_alt
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (xls)
          </p>
          <igx-icon class="icon">
            list
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (pdf)
          </p>
        </div>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false" class="list-item">
      <span igxListThumbnail>
        <igx-avatar src="/assets/surgarFree.jpg" size="large" [roundShape]="true"></igx-avatar>
      </span>
      <span igxListLineTitle>Sugar Free</span>
      <span igxListLineSubTitle>These confections are too good to be sugar free.   The largest line available in Milk, Dark and White. </span>
      <span igxListLine>
        <div class="group_5 row-layout">
          <igx-icon class="icon">
            local_printshop
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Catalog PDF
          </p>
          <igx-icon class="icon">
            list_alt
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (xls)
          </p>
          <igx-icon class="icon">
            list
          </igx-icon>
          <p class="igx-typography__caption text_2">
            Price List (pdf)
          </p>
        </div>
      </span>
    </igx-list-item>
  </igx-list>
  <p class="igx-typography__caption text_1">
    We know you’re busy, so we’ve made it easier. Our price lists can be downloaded to be used as a handy inventory list, then submitted as an order form directly to us for prompt processing. Email your order to salesorders@asherschocolates.com.

New to Asher's Chocolates? You will also find a copy of our New Customer Information Sheet. Be sure to complete this form to avoid delays in setting up your account. Additionally, please be sure to read our Amazon Letter before submitting your orders.

Need to speak to one of our friendly Customer Service Representatives? We're available at 800-223-4420, Monday-Friday, 8:30 a.m.-5:00 p.m EST.
  </p>
</div>
