<div class="group column-layout">
  <img src="/assets/125453-01_ashers-milk-chocolate-cherry-cordials-candy-6lb-box.jpg" class="image" />
  <img src="/assets/1WHITEAshers-MasterLogo_CMYK_No_Shadow-01-copy-2-3.png" class="image_1" />
  <img src="/assets/129874-01_ashers-jumbo-marshmallow-chocolates-with-pecans-3lb-box.jpg" class="image_2" />
</div>
<div class="group_1 column-layout">
  <p class="text">
    Customer Portal Login...
  </p>
  <igx-input-group type="box" class="igx-typography__body-1 textarea">
    <label igxLabel>Username</label>
    <textarea placeholder="Username..." igxInput></textarea>
  </igx-input-group>
  <igx-input-group type="box" class="igx-typography__body-1 textarea_1">
    <label igxLabel>Password</label>
    <textarea placeholder="Password..." igxInput></textarea>
  </igx-input-group>
  <button igxButton="flat" igxRipple routerLink="/sales-orders" class="button">
    Sign In...
  </button>
  <p routerLink="/landing" class="text_1">
    Home...
  </p>
</div>
